<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>ITSTEADY</title>
        
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,300italic,700italic,900,900italic,100italic,100' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/owl.carousel/assets/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="vendor/fontawesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/responsive.css">
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        
        <script src="vendor/angular/angular.min.js"></script>
        <script src="vendor/jquery/jquery-1.12.3.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="assets/js/jquery.knob.js"></script>

		<!-- jQuery File Upload Dependencies -->
		<script src="assets/js/jquery.ui.widget.js"></script>
		<script src="assets/js/jquery.iframe-transport.js"></script>
		<script src="assets/js/jquery.fileupload.js"></script>
		
        <script src="js/script.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="itsteady" ng-controller="MainController">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="images/logo.png" alt="ITSTEADY"/></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-repeat="menu in menus" ng-class="{'active': menu.active}"><a href="{{menu.link}}">{{menu.text}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="page-top page-section" id="company">
            <div id="page_banner" class="owl-carousel owl-middle-narrow owl-bottom-dots">
                <div class="item">
                    <div class="banner-container banner1">
                        <div class="banner-image" style="background:url(images/banner1_bg.jpg) 10% top no-repeat; background-size: cover;"></div>
                        <div class="text-content">
                            <h3>MICROSOFT TECHNOLOGIES</h3>
                            <ul class="icons">
                                <li class="icon"><a href="#"><img src="images/icon1.png" alt=""/></a></li>
                                <li class="icon"><a href="#"><img src="images/icon2.png" alt=""/></a></li>
                                <li class="icon"><a href="#"><img src="images/icon3.png" alt=""/></a></li>
                                <li class="icon"><a href="#"><img src="images/icon4.png" alt=""/></a></li>
                                <li class="icon"><a href="#"><img src="images/icon5.png" alt=""/></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a class="btn btn-default" href="#">OTHER TECHNOLOGIES</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="banner-container banner2">
                        <div class="banner-image" style="background:url(images/banner2_bg.jpg) 90% top no-repeat; background-size: cover;"></div>
                        <div class="text-content">
                            <h3>FULL CIRCLE WEB AND MOBILE DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="banner-container banner3">
                        <div class="banner-image" style="background:url(images/banner3_bg.jpg) 90% top no-repeat; background-size: cover;"></div>
                        <div class="text-content">
                            <h3>FULL CIRCLE WEB AND MOBILE DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="banner-container banner4">
                        <div class="banner-image" style="background:url(images/banner4_bg.jpg) 10% top no-repeat; background-size: cover;"></div>
                        <div class="text-content">
                            <h3>FULL CIRCLE WEB AND MOBILE DEVELOPMENT</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-main">
            <div class="our-services page-section" id="ourservices">
                <div class="container">
                    <h2>OUR SERVICES</h2>
                    <div class="content">
                        <div class="col-md-3 col-sm-6 col-xs-12 first">
                            <div class="image-container">
                                <img src="images/service1.png" alt=""/>
                            </div>
                            <h3>IT Expert Consultancy</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt voluptatem</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="image-container">
                                <img src="images/service2.png" alt=""/>
                            </div>
                            <h3>Web Development</h3>
                            <p>nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute voluptatem</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="image-container">
                                <img src="images/service3.png" alt=""/>
                            </div>
                            <h3>Mobile Development</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque it</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 last">
                            <div class="image-container">
                                <img src="images/service4.png" alt=""/>
                            </div>
                            <h3>Quality Assurance</h3>
                            <p>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque it voluptatem</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="technologies page-section" id="technology">
                <div class="container">
                    <h2>TECHNOLOGIES</h2>
                    <div class="content" ng-repeat="tech in technologies">
                        <div class="col-md-6">
                            <div class="item">
                                <a href="#"><img src="{{tech.img}}" alt=""/></a>
                                <h5>{{tech.title}}</h5>
                                <p>{{tech.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="to-bottom">
                    <a href="javascript:void()"><em class="fa fa-chevron-down"></em></a>
                </div>
            </div>
            <div class="how-we-works page-section" id="howwework">
                <div class="container">
                    <div class="content">
                        <img src="images/how_bg.png" alt=""/>
                        <h2>HOW WE WORK</h2>
                        <a class="btn btn-default" href="#">GET A QUOTE</a>
                        <div class="item item_1">
                            <div class="image-container">
                                <img src="images/how_icon1.png" alt=""/>
                            </div>
                            <h4>FIXED PRICE</h4>
                            <p>Providing solution within fixed budget and scope. Taking  risks to ourselves</p>
                        </div>
                        <div class="item item_2">
                            <div class="image-container">
                                <img src="images/how_icon2.png" alt=""/>
                            </div>
                            <h4>TIME  & MATERIAL</h4>
                            <p>Providing solutions in a predictable and transparent way - Agile oriented</p>
                        </div>
                        <div class="item item_3">
                            <div class="image-container">
                                <img src="images/how_icon3.png" alt=""/>
                            </div>
                            <h4>DEDICATED TEAM</h4>
                            <p>Highly professional team augmentation</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clients page-section" id="clients">
                <div class="container">
                    <h2>CLIENTS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <div class="owl-carousel owl-middle-narrow" id="logo_slider">
                        <img src="images/client1.png" alt=""/>
                        <img src="images/client2.png" alt=""/>
                        <img src="images/client3.png" alt=""/>
                        <img src="images/client4.png" alt=""/>
                    </div>
                </div>
            </div>
            <div class="careers page-section" id="careers">
                <div class="container">
                    <h2>CAREERS</h2>
                    <div class="row">
                        <div class="col-sm-3 col-xs-6">
                            <h3>Web Developer</h3>
                            <p>Lorem ipsum dolor sit amet, consecteturam adipiscing elit, sed do eiusmod am tempor incididunt ut labore et dolore</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h3>Solutions Architect</h3>
                            <p>Lorem ipsum dolor sit amet, consecteturam adipiscing elit, sed do eiusmod am tempor incididunt ut labore et dolore</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h3>Sales Representative</h3>
                            <p>Lorem ipsum dolor sit amet, consecteturam adipiscing elit, sed do eiusmod am tempor incididunt ut labore et dolore</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                        <div class="col-sm-3 col-xs-6">
                            <h3>Test Lead</h3>
                            <p>Lorem ipsum dolor sit amet, consecteturam adipiscing elit, sed do eiusmod am tempor incididunt ut labore et dolore</p>
                            <a href="#">APPLY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team page-section" id="team">
                <div class="container">
                    <h2>TEAM</h2>
                    <img src="images/team_content.png" alt=""/>
                </div>
            </div>
            <div class="contact-us page-section" id="contactus">
                <div class="container">
                    <h2>STAY IN TOUCH</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3>CONTACT US ANYTIME</h3>
                            <ul class="contact-info">
                                <li>XXX-XXX-XXXX</li>
                                <li>2544 Gateway, Roadmaster, CA</li>
                                <li>email@domain.com</li>
                            </ul>
                            <p class="contact-text">You can also contact us by using the form or connect with us on social networks</p>
                            <ul class="social-icons">
                                <li><a class="facebook-icon" href="#"><em class="fa fa-facebook"></em></a></li>
                                <li><a class="linkedin-icon" href="#"><em class="fa fa-linkedin"></em></a></li>
                                <li><a class="gplus-icon" href="#"><em class="fa fa-google-plus"></em></a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <div>
                              <form class="clearfix" id="upload" action="upload.php" method="post" enctype="multipart/form-data">
                                <div class="field required">
                                    <label class="invisible">Your Name</label>
                                    <input type="text" id="name" placeholder="Your Name">
                                </div>
                                <div class="field required">
                                    <label class="invisible">E-mail</label>
                                    <input type="text" id="e-mail" placeholder="E-mail">
                                </div>
                                <div class="field required">
                                    <label class="invisible">Phone</label>
                                    <input type="text" id="phone" placeholder="Phone">
                                </div>
                                <div class="field required">
                                    <label class="invisible">Message</label>
                                    <textarea id="message" placeholder="Message"></textarea>
                                </div>
                                <div class="field">
									<div id="drop" class="attach">
                                        <a href=""><img src="images/attach.png" alt=""/></a>
                                        <a>Attach File</a>
										<p>30MB MAX</p>
										<input type="file" name="upl" multiple />
									</div>  
									<ul>
										<!-- The file uploads will be shown here -->
									</ul>
                                </div>
                                <input type="button" class="btn-send" value="SEND"/>
                              </form>

                            </div>
                            <!-- <form class="clearfix" action="upload.php" method="post" enctype="multipart/form-data">
                                <div class="field required">
                                    <label class="invisible">Your Name</label>
                                    <input type="text" id="name" ng-model="myForm.name" ng-minlength="5" ng-maxlength="12" placeholder="Your Name">
                                </div>
                                <div class="field required">
                                    <label class="invisible">E-mail</label>
                                    <input type="text" id="e-mail" ng-model="myForm.email" ng-minlength="5" ng-maxlength="12" placeholder="E-mail">
                                </div>
                                <div class="field required">
                                    <label class="invisible">Phone</label>
                                    <input type="text" id="phone" ng-model="myForm.phone" ng-minlength="5" ng-maxlength="12" placeholder="Phone">
                                </div>
                                <div class="field required">
                                    <label class="invisible">Message</label>
                                    <input type="text" id="message" ng-model="myForm.message" ng-minlength="5" ng-maxlength="12" placeholder="Message">
                                </div>
                                <div class="field">
                                    <input type="file" id="attach" ng-model="myForm.attach"/>
                                </div>
                                <button class="btn-send" ng-click="myForm.send()">SEND</button>
                              </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="footer-top">
                <div class="container">
                    <a href="javascript:void(0)" class="footer-link">GET A QUOTE</a>
                    <a href="#" class="footer-logo"><img src="images/footer_logo_white.png"/></a>
                    <ul class="contact-info">
                        <li>ITSteady.com</li>
                        <li>+111 XXX-XXX-XXXX</li>
                        <li>Address, USA, 56-66 street</li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    All Rights Reserved 2013-2016
                </div>
            </div>
        </div>
		<!-- Our main JS file -->
		<script src="assets/js/script.js"></script>
	</body>
</html>
