body {
    font-family: Lato,Arial,sans-serif;  
}

a {
}

a:hover {
}
input[type=file] {
    max-width: 100%;
}
.btn.btn-default {
    background: none;
    border: 0;
    background-color: #187a9a;
    box-shadow: none;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    padding: 8px 20px;
}
.navbar {
    margin: 0;
}
.navbar-brand {
    padding: 0 15px;
    margin: 35px 0 38px;
}
.navbar-brand>img {
    max-height: 100%;
}
.navbar-collapse {
    padding: 42px 0;
}
.navbar-nav {
    float: right;
}
.navbar-default .navbar-nav>li>a {
    color: #414042;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #008bbb;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: transparent;
    box-shadow: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #008bbb;
    background: transparent;
}
.navbar-default .navbar-toggle {
    border: 0;
    padding: 0;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #414042;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 50px;
    height: 10px;
    border-radius: 5px;
}

.owl-middle-narrow .owl-nav {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    width: 100%;
}
.owl-bottom-dots .owl-dots {
    margin-top: -55px;
    z-index: 1;
    position: relative;
}
.owl-middle-narrow .owl-controls .owl-nav [class*=owl-] {
    font-size: 50px;
    color: #fff;
    text-shadow: 0 1px 10px rgba(0,0,0,0.4);
}
.owl-middle-narrow .owl-nav .owl-prev {
    position: absolute;
    left: 15px;
}
.owl-middle-narrow .owl-nav .owl-next {
    position: absolute;
    right: 15px;
}
.owl-bottom-dots .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
}
.owl-bottom-dots .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #13b6eb;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.banner-container {
    position: relative;
    font-family: Montserrat;
}
.banner-container:before {
    content: "";
    background: -webkit-linear-gradient(left, rgba(153,153,153,0.5) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(153,153,153,0.5) 100%);
    background: -moz-linear-gradient(left, rgba(153,153,153,0.5) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(153,153,153,0.5) 100%);
    background: -o-linear-gradient(left, rgba(153,153,153,0.5) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(153,153,153,0.5) 100%);
    background: -ms-linear-gradient(left, rgba(153,153,153,0.5) 0%, rgba(255,255,255,0) 3%, rgba(255,255,255,0) 97%, rgba(153,153,153,0.5) 100%);
    position: absolute;
    z-index: 4;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.banner-container .banner-image {
    height: 800px;
    max-height: 100vh;
}
.banner-container .text-content {
    position: absolute;
    text-align: center;
    width: 50%;
}
.banner-container.banner1 .text-content {
    top: 30%;
    right: 0;
    padding: 0 4%;
}
.banner-container.banner1 .text-content h3 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1;
}
.banner-container.banner1 .text-content ul {
    list-style: none;
    padding: 0;
    margin: 0 -22px;
    margin-bottom: 30px;
}
.banner-container.banner1 .text-content ul > li {
    display: inline-block;
    margin: 0 22px;
}
.banner-container.banner1 .text-content ul > li > a > div{
    transition: 0.3s all;
    opacity: 1;
}
.banner-container.banner1 .text-content ul > li > a:hover > img {
    opacity: 0.5;
}
.banner-container.banner1 .text-content p {
    color: #1371b8;
    font-size: 20px;
    margin-bottom: 30px;
}
.page-top a.btn.btn-default {
    font-size: 12px;
    font-weight: 400;
}
.banner-container.banner2 .text-content {
    top: 30%;
    left: 0;
    padding: 0 4%;
}
.banner-container.banner2 .text-content h3 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1;
}
.banner-container.banner2 .text-content p {
    color: #1371b8;
    font-size: 20px;
    margin-bottom: 30px;
}
.banner-container.banner3 .text-content {
    top: 30%;
    left: 0;
    padding: 0 4%;
}
.banner-container.banner3 .text-content h3 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1;
}
.banner-container.banner3 .text-content p {
    color: #1371b8;
    font-size: 20px;
    margin-bottom: 30px;
}
.banner-container.banner4 .text-content {
    top: 30%;
    left: 0;
    padding: 0 4%;
}
.banner-container.banner4 .text-content h3 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 30px;
    line-height: 1;
}
.banner-container.banner4 .text-content p {
    color: #1371b8;
    font-size: 20px;
    margin-bottom: 30px;
}
.our-services {
    text-align: center;
    padding: 70px 0 155px;
}
.our-services .content > .col-md-3 {
    padding: 15px;
}
.our-services h2 {
    color: #048cbb;
    font-size: 48px;
    font-weight: 300;
    position: relative;
    padding: 30px 0;
    margin-bottom: 115px;
}
.our-services h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #aaa;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.our-services h3 {
    color: #5d5c5c;
    font-size: 20px;
}
.our-services p {
    color: #959595;
    font-size: 18px;
}
.our-services .first .image-container:before {
    background-color: transparent;
}
.our-services .last .image-container:after {
    background-color: transparent;
}
.our-services .image-container {
    position: relative;
}
.our-services .image-container:before {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: #e7e7e7;
    position: absolute;
    top: 50%;
    left: -15px;
}
.our-services .image-container:after {
    content: "";
    display: block;
    width: 65px;
    height: 1px;
    background-color: #e7e7e7;
    position: absolute;
    top: 50%;
    right: -15px;
}
.technologies {
    text-align: center;
    background: url(../images/tech_bg.jpg) top center no-repeat;
    position: relative;
    padding: 50px 0;
    z-index: 1;
    background-size: cover;
}
.technologies:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #003a4d;
    position: absolute;
    opacity: 0.9;
    pointer-events: none;
    top: 0;
    left: 0;
}
.technologies .container {
    position: relative;
    z-index: 2;
}
.technologies .row:first-child {
    margin-top: 20px;
}
.technologies .row {
    margin-top: -20px;
}
.technologies h2 {
    color: #fff;
    font-weight: 300;
    font-size: 48px;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.technologies h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #aaa;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.technologies .content .item {
    background-color: #3b90ac;
    background-color: rgba(59,144,172,0.5);
    padding: 30px 20px;
    text-align: left;
    margin: 20px 0;
}
.technologies .content .item:after {
    content: "";
    display: table;
    clear: both;
}
.technologies .content .item img {
    float: left;
    max-width: 25%;
}
.technologies .content .item h5 {
    color: #21add9;
    font-size: 21px;
    font-weight: 700;
    margin-left: 155px;
}
.technologies .content .item p {
    color: #fff;
    font-size: 18px;
    margin-left: 170px;
    padding-right: 15px;
    max-width: 350px;
}
.how-we-works {
    text-align: center;
    padding-bottom: 300px;
}
.how-we-works .content {
    position: relative;
}
.how-we-works .content > img {
    max-width: 100%;
}
.how-we-works h2 {
    color: #048cbb;
    font-weight: 300;
    font-size: 48px;
    position: absolute;
    margin: 0;
    width: 100%;
    top: 100px;
    padding-bottom: 30px;
}
.how-we-works h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #aaa;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.how-we-works .item.item_3 {
    right: 0;
    top: 288px;
}
.how-we-works .item.item_2 {
    left: 50%;
    margin-left: -150px;
    top: 500px;
}
.how-we-works .item.item_1 {
    left: 0;
    top: 288px;
}
.how-we-works .item {
    position: absolute;
    width: 300px;
}
.how-we-works a.btn {
    position: absolute;
    top: 380px;
    left: 50%;
    min-width: 260px;
    margin-left: -130px;
    z-index: 1;
}
.how-we-works .image-container {
    display: inline-block;
    padding: 40px;
    border-radius: 50%;
    background: #fff;
}
.clients {
    background-color: #efefef;
    padding: 90px 0 60px;
    text-align: center;
}
.clients h2 {
    color: #048cbb;
    font-weight: 300;
    font-size: 48px;
    position: relative;
    margin: 0;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 60px;
}
.clients h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #048cbb;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.clients p {
    font-size: 18px;
    margin-bottom: 60px;
}
.clients .owl-carousel .owl-item {
    text-align: center;
}
.clients .owl-carousel .owl-item img {
    display: inline-block;
}
.clients .owl-carousel .owl-dot span {
    width: 20px;
    height: 20px;
    background: #f2f2f2;
    box-shadow: inset 0 2px 3px rgba(0,0,0,0.15);
}
.careers {
    background-color: #fafafa;
    padding: 100px 0 150px;
    text-align: center;
}
.careers h2 {
    color: #187a9a;
    font-weight: 300;
    font-size: 48px;
    position: relative;
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 85px;
}
.careers h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #187a9a;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.careers .col-sm-3 {
    padding-right: 40px;
}
.careers h3 {
    color: #187a9a;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 35px;
    text-align: left;
}
.careers p {
    font-size: 18px;
    color: #7d7d7d;
    margin-bottom: 40px;
    text-align: left;
}
.careers a {
    font-size: 12px;
    color: #1988ab;
    text-align: center;
}
.team:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3b3b3b;
    opacity: 0.85;
}
.team {
    background: url(../images/team_bg.jpg) center top no-repeat;
    position: relative;
    padding: 100px 0 200px;
}
.team img {
    max-width: 100%;
}
.team .container {
    z-index: 2;
    position: relative;
}
.team h2 {
    color: #fff;
    font-weight: 300;
    font-size: 48px;
    position: relative;
    margin: 0;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 85px;
}
.team h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #6bdbff;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}

.contact-us {
    padding: 95px 0;
}
.contact-us h2 {
    color: #1988ab;
    font-weight: 300;
    font-size: 48px;
    margin: 0;
    position: relative;
    text-align: center;
    padding-bottom: 45px;
    margin-bottom: 137px;
}
.contact-us h2:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    background-color: #363434;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
.contact-us h3 {
    color: #1988ab;
    font-size: 39px;
    font-weight: 700;
    margin: 0;
}
.contact-us ul.contact-info {
    margin: 0;
    list-style: none;
    padding: 0;
    font-size: 20px;
    color: #7e7e7e;
    margin: 50px 5px;
    line-height: 1.5;
}
.contact-us p.contact-text {
    font-size: 24px;
    color: #7e7e7e;
    font-weight: 300;
    margin-bottom: 55px;
    max-width: 400px;
    line-height: 1.6;
}
.contact-us ul.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-us ul.social-icons li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.contact-us ul.social-icons li > a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    transition: all 0.5s;
}
.contact-us ul.social-icons li > a:hover {
    opacity: 0.5;
}
.contact-us input[type=file] {
	display: none;
}
a.gplus-icon {
    background-color: #db5342;
}
a.linkedin-icon {
    background-color: #066c9a;
}
a.facebook-icon {
    background-color: #365f9f;
}
.contact-us form {
    background-color: #f1f1f1;
    padding: 20px;
}
.contact-us .field {
    position: relative;
}
.contact-us .field.required:after {
    content: "*";
    position: absolute;
    color: #f00;
    right: 0;
    bottom: 0px;
    font-size: 18px;
    line-height: 1;
}
.contact-us .field input[type=text], .contact-us .field textarea {
    border: 0;
    background: transparent;
    border-bottom: 1px solid #8e8e8e;
    font-size: 18px;
    color: #3e3e3e;
    margin: 0;
    width: 100%;
    display: block;
    padding-left: 7px;
    padding-right: 7px;
}
.contact-us .field textarea {
    min-height: 100px;
}
.contact-us .field input[type=text]:focus, .contact-us .field textarea:focus {
    border-bottom-color: #1988ab;
    outline: none;
}
.contact-us .field label {
    display: block;
    margin-top: 20px;
    font-size: 15px;
    color: #1988ab;
}
.page-footer .footer-top {
    background-color: #145f77;
    padding: 30px 0;
}
.page-footer .footer-logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}
.page-footer ul.contact-info {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    list-style: none;
    color: #fff;
    font-size: 16px;
    margin: 0;
}
.footer-top a.footer-link {
    color: #fff;
    line-height: 44px;
    float: right;
    font-size: 17px;
    border-style: solid;
    padding: 6px 29px;
    text-decoration: none;
}
.footer-top a.footer-link:hover {
    text-decoration: none;
}
.page-footer .footer-bottom {
    background-color: #343434;
    color: #fff;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
}
.to-bottom {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -32px;
    margin-left: -32px;
}
.to-bottom > a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: #595959;
    border-radius: 50%;
    margin-top: 16px;
    line-height: 29px;
    color: #fff;
    font-size: 24px;
}
#logo_slider.owl-middle-narrow .owl-controls .owl-nav [class*=owl-] {
    font-size: 30px;
    text-shadow: none;
    color: #9c9c9c;
}
#logo_slider.owl-middle-narrow .owl-nav {
    margin: 0;
    top: 25px;
}
#logo_slider.owl-middle-narrow .owl-nav .owl-prev {
    left: 0;
}
#logo_slider.owl-middle-narrow .owl-nav .owl-next {
    right: 0;
}
.btn-send{
    background-color: #1988ab;
    color: #ffffff;
    float: right;
    border-radius: 5px;
    padding: 14px 33px;
    line-height: 1;
}
.navbar {
    margin: 0;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
    left: 0;
}
body {
    padding-top: 125px;
}
.contact-us .attach a {
    color: #83c771;
    padding-right: 10px;
    font-size: 17px;
}
.contact-us ul {
    margin-top: 0;
    margin-bottom: 10px;
    list-style: none;
} 
#upload ul{
    list-style:none;
    margin:0;
    padding:0;
/*    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;*/
}

#upload ul li{
    /*border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;*/
    padding:15px 0;
    height: 52px;
    position: relative;
    max-width: 350px;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 100px;
    display: none;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../assets/img/icons.png') 0 -13px no-repeat;
    position: absolute;
    top: 31px;
    right: 33px;
    cursor:pointer;
}

/*#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
*/}

#upload ul li.error p{
    color:red;
}
.progress {
    height: 5px;
    max-width: 270px;
}
.progress > div {
    background-color: #83c771;
    height: 100%;
}
.technologies .container>a:focus, .technologies .container>a:hover {
    color: #008bbb;
}
.contact-us .attach p {
    margin: 0 0 10px;
    display: inline-block;
}